<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Lobster" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#loading").hide()
        $("#title").hide()
        $("#instructions").hide()

        $(document).ajaxStart(function(){
          $("#title").hide();
          $("#instructions").hide();
          $("#get_recipe").hide()
          $("#loading").show();
        });

        $(document).ajaxStop(function(){
          $("#loading").hide();
          $("#title").show();
          $("#instructions").show();
          $("#get_recipe").show()
        });

        $("#get_recipe").click(function(){
          $.ajax({
            type: "GET",
            url: {{ request.script_root|tojson|safe }} + "/_get_new_recipe",
            success: function(data){
              $("#title").html(data["title"]);
              $("#instructions").html(data["instructions"]);
            }
          });
        });

      });
    </script>
  </head>

  <body>
    <h1 id="loading">Loading...</h1>
    <h1 id="title">{{ recipe_title }}</h1>
    <div id="instructions">{{ recipe_instructions }}</div>
    <button id="get_recipe">New Recipe</button>
  </body>
</html>
