<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Lobster" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/logic.js"></script>
  </head>

  <body>
    <h1 id="loading">Loading...</h1>
    <h1 id="title">{{ recipe_title }}</h1>
    <div id="instructions">{{ recipe_instructions }}</div>
    <button id="get_recipe">New Recipe</button>
  </body>
</html>
